	<div id="content-footer" class="content-footer">
		<div class="container">
			<div class="row row-cols-md-2">
				<div class="text-center m-auto mr-md-auto">
					<b>Follow me-</b>
					<a class="social-item item-small" target="_blank" href="https://facebook.com/md.mamedul" title="Follow">
						<img class="" src="{{ "/assets/icons/facebook_32x32.png" | relative_url }}" alt="Facebook"/>
					</a>
					<a class="social-item item-small" target="_blank" href="https://www.twitter.com/mamedul" title="Follow">
						<img class="" src="{{ "/assets/icons/twitter_32x32.png" | relative_url }}" alt="Twitter"/>
					</a>
					<a class="social-item item-small" target="_blank" href="https://www.instagram.com/mamedul" title="Follow">
						<img class="" src="{{ "/assets/icons/instagram_32x32.png" | relative_url }} alt="Instagram"/>
					</a>
					<a class="social-item item-small" target="_blank" href="https://www.linkedin.com/in/mamedul" title="Follow">
						<img class="" src="{{ "/assets/icons/linkedin_32x32.png" | relative_url }}" alt="LinkedIn"/>
					</a>
				</div>
				<div class="text-center d-none d-md-block m-auto ml-md-auto">
					<small>© Copyright <span id="copyrightYear">from 2019</span>. All rights reserved</small>
				</div>
			</div>
		</div>
	</div>