	<div id="content-footer" class="content-footer">
		<div class="row row-cols-md-2">
			<div class="container text-center m-auto mr-md-auto">
				<b>Follow me-</b>
				<a class="social-item item-small" target="_blank" href="https://facebook.com/md.mamedul" title="Follow">
					<img class="" src="/assets/icons/facebook_32x32.png" alt="Facebook"/>
				</a>
				<a class="social-item item-small" target="_blank" href="https://www.twitter.com/mamedul" title="Follow">
					<img class="" src="/assets/icons/twitter_32x32.png" alt="Twitter"/>
				</a>
				<a class="social-item item-small" target="_blank" href="https://www.instagram.com/mamedul" title="Follow">
					<img class="" src="/assets/icons/instagram_32x32.png" alt="Instagram"/>
				</a>
				<a class="social-item item-small" target="_blank" href="https://www.linkedin.com/mamedul" title="Follow">
					<img class="" src="/assets/icons/linkedin_32x32.png" alt="LinkedIn"/>
				</a>
			</div>
			<div class="container text-center m-auto ml-md-auto">
				<small>© Copyright 2019-2020. All rights reserved</small>
			</div>
		</div>
	</div>