	
		.t-spin{
			animation-name: spin;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
		}
		.t-spin-back{
			animation-name: spinback;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
		}
		.t-slow-spin{
			animation-duration: 1s;
		}
		.t-fast-spin{
			animation-duration: 1s;
		}
		@keyframes spin{
			from {
				transform: rotate(0deg);
			}
			to {
				transform: rotate(360deg);
			}
		}