---
layout: page
---


<div id="portfolio" class="my-service">
	
	<div class="m-auto text-center">
		<h2 id="title" class="">My Services</h2>
		<h3 class="text-center">What's services I can provide-</h3>
	</div>
	
	<div class="container d-flex">
		<div class="mb-1 justify-content-center text-center row row-cols-1 row-cols-md-2 row-cols-lg-3">
			<div class="col p-3">
				<a class="" href="/portfolio/view/?demo=12" title="View">
					<div class="box armor">
						<img class="img-fluid" src="/assets/images/thumb.png" alt="Web_design"/>
						<div class="body">
							<h3>Landing Page Design</h3>
							<div>Landing Page Design for website/ worpress</div>
							
						</div>
						<span class="tl_corner"></span>
						<span class="br_corner"></span>
					</div>
				</a>
			</div>
			<div class="col p-3">
				<a class="" href="/portfolio/view/?demo=12" title="View">
					<div class="box armor">
						<img class="img-fluid" src="/assets/images/gym_web_template.bmp" alt="Web_design"/>
						<div class="body">
							<h3>GYM  Website Design</h3>
							<div>CALO-GYM(Fitness Club).</div>
						</div>
						<span class="tl_corner"></span>
						<span class="br_corner"></span>
					</div>
				</a>
			</div>
			<div class="col p-3">
				<a class="" href="/portfolio/view/?demo=12" title="View">
					<div class="box armor">
						<img class="img-fluid" src="/assets/images/thumb.png" alt="Web_design"/>
						<div class="body">
							<h3>Restaurant Website Design</h3>
							<div>Food Lover Point(For Foodie People)</div>
						</div>
						<span class="tl_corner"></span>
						<span class="br_corner"></span>
					</div>
				</a>
			</div>
			<div class="col p-3">
				<a class="" href="/portfolio/view/?demo=12" title="View">
					<div class="box armor">
						<img class="img-fluid" src="/assets/images/thumb.png" alt="Web_design"/>
						<div class="body">
							<h3>Wordpress Theme Development</h3>
							<div>Theme Develop form Me</div>
						</div>
						<span class="tl_corner"></span>
						<span class="br_corner"></span>
					</div>
				</a>
			</div>

		</div>
	</div>
	
	<div class="m-auto text-center">
		<hr>
	</div>
</div>
